@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 247, 247);
}

#logo {
    margin-left: 200px;
}

nav {
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid blue;
    background-color: rgb(36, 36, 36);
    color: white;
    width:100%;
}


#menu{
    display: flex;
    margin-left: 570px;
    align-items: center;
}
#menu>li {
    list-style: none;
    padding: 0.5rem;
    margin-right: 38px;
}
#menu>li a {
    text-decoration: none;
    color: rgb(214, 214, 214);
}
#menu>li a:hover {
    color: white;
}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

#buttons {
    float: right;
    padding: 0 15px;
}

#buttons > i{
    margin-right: 15px;
}

.main-top {
    display: flex;
    justify-content: space-between;
}

#profile-photo {
    border-radius: 50%;
    height:240px;
    width: 240px;
}

#hakkimda {
    padding: 1rem;
    margin-left: 3rem;
}
#hakkimda > p {
    margin-top: 1rem;
    letter-spacing: 1px;
    line-height: 22px;
}

#projects-title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.project {
    background-color: white;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    padding-left: 5px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius:2px;
    min-width: 250px;
}

.project:hover {
    box-shadow: 25px 15px 20px 0 rgba(0,0,0,0.2);
}

.projects>.project>div>h3 {
    margin-bottom: 5px;
}

.projects>.project>div>a {
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-weight: lighter;
}

.projects>.project>div>a:hover {
    color: royalblue;
}

footer {
    margin-top: 5rem;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 2rem;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

footer > span {
    line-height: 1.5px;
}

.leftArrow{
    cursor:pointer;
}

.rightArrow{
    cursor:pointer;
}


@media (max-width: 480px) {
    #menu{
 
        margin-left: 50px;
 
    }
    #menu>li {
    
        margin-right: 0;
    }

    #logo {
        margin-left: 20px;
    }

    .main-top {
        align-items:center;
        flex-direction: column;

}
#profile-photo {
    
    height:100px;
    width: 100px;
}
}


  @media (max-width: 1024px) and (min-width: 481px){
    #menu{
 
        margin-left: 50px;
 

      }

      #logo {
        margin-left: 10px;
    }

    #menu>li {
    
        margin-right: 10px;
    }

    .main-top {
        align-items:center;
        flex-direction: column;


}
#profile-photo {
    
    height:200px;
    width: 200px;
}
      
}

